<h1>Samples</h1>

<% if @samples.any? %>
<table>
  <% @samples.each do |sample| %>
    <tr>
      <td><%= sample.id %></td>
      <td><%= link_to "View", frontend_sample_path(sample) %>
    </tr>
  <% end %>
</table>
<% else %>
  No samples found.
<% end %>