<h1><%= "Sample #{@sample.id}" %></h1>

<table class="uk-table uk-table-striped uk-table-small">
  <thead>
    <tr>
      <th>Time (minutes)</th>
      <th>Intensity (millivolts)</th>
    </tr>
  </thead>
  <tbody>
    <% @sample.hplc_data.each do |datum| %>
      <tr>
        <td><%= datum.minute %></td>
        <td><%= datum.millivolts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
