/*
 *= require lib/pikaday
 *= require lib/uikit
 */

 html, body {
   font-family: 'Ubuntu Mono', monospace;
   height: 100%;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: 'Ubuntu Mono', monospace;
 }

.cid-top-nav {
  background: #fff !important;
}

.cid-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  box-sizing: border-box;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}

.cid-main {
  padding: 70px 0 70px 240px;
}
